<section class="vh-100" style="background-color: #a5b3ca; margin: -20px;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 text-center">
      <div class="col">
        <!-- Button trigger modal -->
       

        <!-- Modal -->
      
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <a type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" href="/"></a>
              </div>
              <div class="modal-body text-start text-black p-4">
                <h5 class="modal-title text-uppercase mb-5" id="exampleModalLabel"></h5>
                <h4 class="mb-5" style="color: #35558a;">Thanks for your order</h4>
                <p class="mb-0" style="color: #35558a;">Payment summary</p>
                <hr class="mt-2 mb-4"
                  style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">


                <div class="d-flex justify-content-between">
                  <p class="small mb-0">Shipping</p>
                  <p class="small mb-0">Free</p>
                </div>

               
                <div class="d-flex justify-content-between">
                  <p class="fw-bold">Total</p>
                  <p class="fw-bold" style="color: #35558a;">₹.{{totalPrice}}.00</p>
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center border-top-0 py-4">
                <a type="submit" class="btn btn-primary btn-lg mb-1" style="background-color: #35558a;" href="/orders" action="post" >
                  Check your order
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
